<div class="topnav">
    <!-- Add your topnav content here -->
     <div class="row align-center">
        <div class="mobile-menu">
            <i class='bx bx-menu'></i>
        </div>
        <div class=" facilitylogo">
            <img src="/icons/icon-92x92.png" alt=""  >
            <h4>Tamale Teaching Hospital</h4>
        </div>
     </div>
    
    <div>
        <i class='bx bx-signin'>Signout</i>
    </div>
</div>